@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Text Styling */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666;
    overflow-x: hidden;
    width: 100%;
}

span#name {
    font-weight: bold;
    
}

span.heading {    
    position: relative;
}

span.heading::after {
    content: "";
    position: absolute;
    width: 100%;
    background: #DFC3B7;
    left: -0.4em;
    bottom: -0.1em;
    height: 0.8em;
    z-index: -1;
}

span.location {
    font-style: italic;
}

a {
    text-decoration: none !important;
    color: #999;
}

a:hover {
    color:inherit;
    background-color: var(--hov);
}

/* Layout */
.content {
    margin-top: 150px;
    margin-bottom: 150px;
}

.section:not(:last-child) {
    padding-top:15px;
    margin-bottom: 30px;
    border-top:1px dotted;
    
}

.bio {
    text-align: right;
    /* border-top:1px dotted; */
    border-right:1px dotted;
}

#logo {
    position: absolute;
    right: 0px;
    width: 70%;
    bottom: 20px;
}

.rel {
    position: relative;
}

#intro {
    position: absolute;
    bottom: 40px;

    /* border-style: dotted; */
}